  <% if @passenger.nil?%>
    <h1>Trip List</h1>
  <% else %>
   <h1><%= @passenger.name %>'s Trips</h1>
  <% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.id, trip %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4><a href="<%= new_trip_path %>">Create a new trip</a></h4>