  
<h2><%= @passenger.name %></h2>
<p><%= @passenger.phone  %></p>



<div>
  <h4><a href="<%= edit_passenger_path %>">Edit this passenger</a></h4>
  <h4><a <%= link_to 'Delete Passenger', passenger_path(@passenger), method: :delete, data: { confirm: 'Are you sure?' } %></a></h4>
</div>