/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";


// Navigation Bar
.navbar {
  background-color:grey;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  align-items: flex-end;
  list-style-type: none;
}

.navbar li {
  margin-top: .5em;
  margin-right: 2em;
  
  // border: 1px solid black;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

.navbar a:hover {
  color: rgb(255, 215, 200);
}

// Homepage Elements
.header{
  margin-top: 1.75em;
  margin-bottom: 2em;
  text-align: center;
}

.header h1{
  letter-spacing: 3px;
}

.header h4 {
  color: #D34C26;
}

.image {
  text-align: center;
}

.footer {
  margin-top: 1em;
  height: 50px;
  background-color:rgb(255, 215, 200);
}

.footer p {
  margin-left: 1em;
  padding-top: .75em;
}

.footer a {
  color: blue;
}